@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
body {
  font-family: 'cwTeXFangSong', serif;
}
  
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #FFFAF4;
}


header {
    background-color: #A79277;
    text-align: center;
    padding: 20px;
    justify-content: space-between; 
    word-spacing: 10em;
}   


header a {
    color: white;
    text-decoration: none;
    font-size: 180%;
    display: inline-block;
}

header a:hover {
    background-color: #f8dac5;
    color: white;
}

nav {
    background-color: #FFFAF4;
    text-align: center;
    font-size: 200%;
    padding: 20px;
    margin: 5px;
    color: #A79277;
    font-weight: bold;
    
}


.column1 {
    padding: 20px;
    margin: 0px 80px;
    border-radius: 15px;
    background-color: #FFF2E1;
    float: left;
    width:55%;  
    margin-bottom: 20px;  
    background-size: cover;
    border-style:double;
    border-color: #A79277;
}


h1{
    font-size: 180%;
    font-weight: bold;
    color: #A79277;
    text-align: center;
}

.hr1{
    border: 2px solid #9D7553;
}

/*   進度條 */
.progress-container {
    width: 80%;
    background-color: #FFF2E1;
    margin-bottom: 50px;
    margin-left: 5%;
    font-size: 150%;
    color: black;
  }
  
  /*進度條動態計算的百分比 */
  .progress-bar-container {
    display: flex;
    align-items: center;
  }
  
  .progress-bar {
    height: 40px;
    background-color: #9D7553;
    text-align: center;
    line-height: 40px;
    color: white;
    flex: 1;
  }
  
  /* 進度動畫 */
  @keyframes progress-animation-1 {
    from {
      width: 0%;
    }
    to {
      width: 40%;
    }
  }
  
  @keyframes progress-animation-2 {
    from {
      width: 0%;
    }
    to {
      width: 30%;
    }
  }
  
  @keyframes progress-animation-3 {
    from {
      width: 0%;
    }
    to {
      width: 70%;
    }
  }
  
  @keyframes progress-animation-4 {
    from {
      width: 0%;
    }
    to {
      width: 60%;
    }
  }
  
  #bar1 {
    animation: progress-animation-1 2s ease-in-out forwards;
  }
  
  #bar2 {
    animation: progress-animation-2 3s ease-in-out forwards;
  }
  
  #bar3 {
    animation: progress-animation-3 4s ease-in-out forwards;
  }
  
  #bar4 {
    animation: progress-animation-4 5s ease-in-out forwards;
  }
  
  
  

.p1 {
    color: black;
    margin: 10px 30px;
    float:right; 
    padding-left: 350px;
    font-size: 170%;
    line-height: 2em;
    position: absolute; 
}



.p2 {
    color: #743A3A;
    margin: 0px 30px;
    float: right; 
    padding-left: 350px;
    font-size: 200%;
    line-height: 1em;
    position: absolute;
    top: 460px;
}

.p14 {
    color: #6B6C6E;
    margin: 0px 30px;
    float: right; 
    padding-left: 350px;
    font-size: 170%;
    font-style: italic;
    position: absolute;
    top: 400px;
}


.img1 img{
    border-radius: 10%;
    position:relative;
    margin: 20px 20px;
    width: 280px;
    height: 300px;
    float:left; 
    border-style:dashed;
    border-color: #A79277
}

.img1 img:hover {
    transform: scale(1.1); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*icon*/
.icon1{
    position: fixed; 
    margin: 50px 20px;
    right: 10px; 
    top: 40px;
}

.icon2{
    position: fixed; 
    margin: 50px 20px;
    right: 10px; 
    top: 100px; 
}

.icon3{
    position: fixed; 
    margin: 50px 20px;
    right: 10px;
    top: 160px; 
}


.column2 {
    padding: 20px;
    margin: -450px 100px 0px;
    border-radius: 15px;
    background-color: #FFF2E1;
    float: right;
    text-align: center;
    width: 25%;
    background-size: cover;
    border-style:double;
    border-color: #A79277;
}


/*時間線*/
.timeline {
    text-align: center;
    font-size: 170%;
    position: relative;
    left: calc(50% + 10px); 
    transform: translateX(-50%);
}

.timeline::before {
    content: '';
    position: absolute;
    width: 2px;
    height: calc(100% - 40px); 
    background-color: black;
    top: 20px; 
    left: 0px; 
}

.timeline ul {
    list-style-type: none;
    padding: 0;
    margin: 0px 0px 10px;
    line-height: 2.5em;
}

.timeline li {
    margin-bottom: 20px;
    position: relative;
    padding-right: 10%;
}

.timeline li::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    top: 50%;
    left: 0px; 
    transform: translate(-50%, -50%);
}


.column3 {
    padding: 20px;
    margin: 500px 80px;
    border-radius: 15px;
    background-color: #FFF2E1;
    border-style:double;
    border-color: #A79277;
}

.column4 {
    padding: 20px;
    margin: -450px 80px;
    border-radius: 15px;
    background-color: #FFF2E1;
    border-style:double;
    border-color: #A79277;
    bottom: 0;
}

.p4 {
    color: white;
    font-size: 230%;
    margin: 30px 10px;
    border-width: 3px 3px 3px 3px;
    border-radius: 10px;
    width: 70px;
    height: 35px;
    background-color: #A79277;
}

.p5 {
    float: left;
    color: black;
    font-weight:bold;
    margin: 0px 220px;
    padding-right:20%;
    font-size: 200%;
    line-height: 2em;
}

iframe{
    position: absolute; 
    float: left;
    margin:70px -800px;
}

.p6 {
    position: absolute; 
    color: black;
    font-size: 180%;
    margin: 100px 50px;
    float: left;
    border-style: dashed;
    border-color: #A79277;
    left: 750px; 
    line-height: 1.2em;
}


.p7 {
    position: absolute; 
    color: black;
    font-weight: bold;
    font-size: 200%;
    margin: 0px 80px; 
    right: 190px;
    top: 1820px; 
}



.img2 img {
    position: absolute; 
    width: 600px; 
    float: right;
    margin: 400px -150px ;
}


.p8{
    position: absolute; 
    float: left;
    color: black;
    margin: 550px 20px;
    font-size: 180%;
    border-style:dashed;
    border-color: #A79277;
    line-height: 1.2em;
}

.p9{
    color: white;
    font-size: 230%;
    margin: 800px 10px;
    border-radius: 10px;
    width: 70px;
    height: 35px;
    background-color: #A79277;
}

.p10{
    position:relative;
    color: black;
    font-size: 200%;
    margin: -800px 100px 0px; 
}

/*動畫*/
.coverflow{
    width: 500px;
    height: 290px;
    position: relative;
    margin: 0px 450px 0px; 
}
.coverflow>a{
    display: block;
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    filter: alpha(opacity=0);
/*當圖片數量增加，影片長度需更改，變為5s*圖片數量*/
 -webkit-animation: silder 15s linear infinite;
 animation: silder 15s linear infinite;
}
.coverflow>a>img{
    max-width: 100%;
}
/*動畫關鍵影格*/
@-webkit-keyframes silder {
    3% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    27% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    30% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}
@keyframes silder {
    3% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    27% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    30% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}
/*每個圖片各延遲5秒*/
.coverflow>a:nth-child(6) {
    -webkit-animation-delay: 15s;
            animation-delay: 15s;               
}
.coverflow>a:nth-child(5) {
    -webkit-animation-delay: 12s;
            animation-delay: 12s;               
}

.coverflow>a:nth-child(4) {
    -webkit-animation-delay: 9s;
            animation-delay: 9s;               
}

.coverflow>a:nth-child(3) {
    -webkit-animation-delay: 6s;
            animation-delay: 6s;               
}
.coverflow>a:nth-child(2) {
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
}
.coverflow>a:nth-child(1) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;    
}
/*滑入時停止播放*/
.coverflow:hover>a{
-webkit-animation-play-state: paused;
        animation-play-state: paused;
}

.p11{
    color: white;
    font-size: 230%;
    margin: 50px 10px;
    border-radius: 10px;
    width: 145px;
    height: 35px;
    background-color: #A79277;
}

.p12{
    position:relative;
    color: black;
    margin: 0px 100px;
    font-size: 200%;
}

.img3 img {
    position:relative;
    width: 100px; 
    float: right;
    margin: -100px 30px ;
}

footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color: #EAD8C0;
    text-align: center;
    color: #A79277;
    font-size: 150%;
}
